<div class="github-commit">
  <div class="container">
    <div class="commit">
      <a id="github-button" href="#/administration/goal-creation" class="btn-flat grey-text text-lighten-5 waves-effect waves-light valign-wrapper"><i class="mdi-content-add valign left"></i><span class="valign right">Nuevo</span></a>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <h4 class="col s12 center header">Lista de Metas.</h4>
    <h5 ng-if="_targets.length==0">
      Lo Sentimos. Aun NO exiten metas. =(
    </h5>
    <table ng-if="_targets.length!=0" class="col s12 centered striped hoverable responsive-table" >
      <thead><tr>
        <th data-field="nro">Nro</th>
        <th data-field="code">Codigo</th>
        <th data-field="name">Nombre</th>
        <th data-field="budget">Presupuesto</th>
        <th data-field="startDate">Inicio</th>
        <th data-field="endDate">Fin</th>
        <th data-field="options">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      </tr></thead>

      <tbody>
        <tr ng-repeat="(key, value) in _targets">
          <td>{{key+1}}</td>
          <td>{{value.code}}</td>
          <td>{{value.name}}</td>
          <td>{{value.budget}}</td>
          <td>{{value.startDate}}</td>
          <td>{{value.endDate}}</td>
          <td>
            <div show-on-row-hover style="display:none; max-height:21px"> 
              <i class="mdi-content-create white-text" style="cursor:pointer; cursor:hand; font-size: 1.1rem;" ng-click="edit(value);"></i>
              &nbsp&nbsp&nbsp
              <i class="mdi-content-clear orange-text text-darken-4" style="cursor:pointer; cursor:hand; font-size: 1.1rem;" ng-click="destroy(value);"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <!--   Promo Section   -->
    <!--<div class="row">
      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-image-flash-on"></i>
          <p class="promo-caption">Speeds up development</p>
          <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-social-group"></i>
          <p class="promo-caption">User Experience Focused</p>
          <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-action-settings"></i>
          <p class="promo-caption">Easy to work with</p>
          <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="row center">
      <h3 class="light header">Materialize Showcase</h3>
      <p class="col s8 offset-s2 caption">Checkout what people are creating with Materialize. Get inspired by these beautiful sites and you can even submit your own website to be showcased here.</p>
      <a href="http://materializecss.com/showcase.html" class="btn-large waves-effect waves-light">Explore our Showcase</a>
    </div>
  </div>-->
</div>