<!-- Add your site or application content here -->
<div class="container">
  <div class="row">
    <header>
      <nav>
        <div class="nav-wrapper cyan darken-2">
          <div class="col s12">
            <a href="#/" class="brand-logo">Planillas</a>
            <a href="#" data-activates="mobile-mode" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#/">Home</a></li>
              <li><a href="#/about">About</a></li>
              <li><a href="#/">Contact</a></li>
            </ul>
            <ul class="side-nav" id="mobile-mode">
              <li><a href="sass.html">Sass</i></a></li>
              <li><a href="components.html">Components</a></li>
              <li><a href="javascript.html">Javascript</a></li>
              <li><a href="mobile.html">Mobile</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>

  <div ng-view=""></div>

  <footer>
    <p> <i class="mdi-action-favorite"></i> from the SurValley team</p>
  </footer>
  
</div>
