<div class="github-commit">
  <div class="container">
    <div class="commit">
      <a id="github-button" href="#/administration/payroll-creation" class="btn-flat grey-text text-lighten-5 waves-effect waves-light valign-wrapper"><i class="mdi-content-add valign left"></i><span class="valign right">Nuevo</span></a>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <h4 class="col s12 center header">Lista de Planillas.</h4>
    <h5 ng-if="_targets.length==0">
      Lo Sentimos. Aun NO exiten planillas. =(
    </h5>
    <table ng-if="_targets.length!=0" class="col s12 centered striped hoverable responsive-table" >
      <thead><tr>
        <th data-field="nro">Nro</th>
        <th data-field="name">Nombre</th>
        <th data-field="budget">Presupuesto</th>
        <th data-field="startDate">Inicio</th>
        <th data-field="endDate">Fin</th>
        <th data-field="state">Estado</th>
        <th data-field="options">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      </tr></thead>

      <tbody>
        <tr ng-repeat="(key, value) in _targets">
          <td>{{key+1}}</td>
          <td>{{value.name}}</td>
          <td>{{value.amounts.budget}}</td>
          <td>{{value.startDate}}</td>
          <td>{{value.endDate}}</td>
          <td>{{value.state}}</td>
          <td>
            <div show-on-row-hover style="display:none; max-height:21px"> 
              <i class="mdi-content-create white-text" style="cursor:pointer; cursor:hand; font-size: 1.1rem;" ng-click="edit(value);"></i>
              &nbsp&nbsp&nbsp
              <i class="mdi-content-clear orange-text text-darken-4" style="cursor:pointer; cursor:hand; font-size: 1.1rem;" ng-click="destroy(value);"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>